.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    z-index: 100;
    background-color: white;
    top: 0;
}

.header__logo {
    height: 20px;
    margin-left: 20px;
}

.header__left, .header__icons {
    display:flex;
}

.header__icons:hover {
    cursor: pointer;
}

.header__input {
    display:flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    border-radius: 230px;
}

.header__input input {
    flex: 1;
    border: none;
    height: 33px;
    min-width: 30px;
    z-index: 100;
    border-top-left-radius: 230px;
    border-bottom-left-radius: 230px;
}

.header__input input:focus {
    outline-color: rgb(13, 13, 176);
}

.header__input input[placeholder] {
    font-size: 15px;
    padding-left: 15px;
}

.header__inputButton {
    width: 100% !important;
    color: black;
}

.header__icon {
    margin-right: 10px;
}

.header__inputButtonBg {
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    border-top-right-radius: 230px;
    border-bottom-right-radius: 230px;
}

.header__onclickgrid {
    display: grid;
}

.header__onclickgrid:hover {
    cursor: pointer;
}

.header__onclickgrid * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.header__menu {
    padding-left: 6px;
    padding-top: 6px;
}

@media (hover:hover) and (pointer:fine) {
    .header__onclickgrid:hover .header__menuonclick {
        fill: lightgray;
    }

    .header__inputButtonBg:hover {
        background-color: rgb(245, 241, 241);
        cursor: pointer;
    }
}

.header__onclickgrid:active .header__menuonclick {
    animation-name: menuclick;
    animation-duration: 0.15s;
}

@keyframes menuclick {
    0% {fill: white; stroke: lightgray;}
    100% {fill: white; stroke: white;}
}

@media only screen and (max-width: 550px) {
    .header {
        padding: 11px;
    }

    .header__left {
        align-items: center;
    }

    .header__onclickgrid {
        align-items: center;
        justify-items: center;
    }

    .header__logo {
        height: 16px;
        margin-left: 4px;
    }

    .header__menu {
        width: 22px !important;
        padding-left: 0px;
        padding-top: 0px;
    }

    .header__input {
        width: 35%;
    }

    .header__input input {
        height: 23px;
    }

    .header__inputButtonBg {
        height: 25px;
        width: 33px;
    }

    .header__icons {
        align-items: center;
    }

    .header__icon {
        margin-right: 5px;
        width: 22px !important;
    }

    .header__icons__loginicon {
        width: 22px !important;
        height: 22px !important;
    }
}