.sidebarrow {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px; 
    align-items: center;
    border-radius: 10px;
}

.sidebarrow__icon {
    color: #606060 !important;
    margin-left: 7px;
}

.sidebarrow__title {
    margin-left: 18px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

@media (hover:hover) {
    .sidebarrow:hover {
        background-color: rgb(232, 229, 229);
        cursor: pointer;
    }
}

.sidebarrow.selected {
    background-color: rgb(232, 229, 229);
}

.sidebarrow.selected .sidebarrow__title {
    font-weight: 700;
}

.sidebarrow.selected .sidebarrow__icon {
    color: black;
}

@media only screen and (max-width: 550px) {
 .sidebarrow {
    padding-left: 4px;
}

 .sidebarrow__icon {
    width: 22px !important;
 }

 .sidebarrow__title {
    font-size: 12px;
    margin-left: 14px;
 }
}