.videocardsearch {
    margin-top: 15px;
    display: flex;
}

.videocardsearch__videothumbnail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-height: 162px;
    max-width: 288px;
    min-height: 90px;
    aspect-ratio: 16/9;
}

@media only screen and (min-width: 1300px) {
    .videocardsearch__videothumbnail {
        height: 180px;
        width: 320px;
    }
  }

.videocardsearch__videothumbnail img {
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    max-height: 100%;
    width: 100%;

}
.videocardsearch__videothumbnail div {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.videocardsearch__videothumbnail span{
    background-color: black;
    color: white;
    padding: 1px 4px;
    font-size: 13px;
    border-radius: 0.2em;
    font-weight: bold;
    margin-bottom: 3px;
    margin-right: 3px;
}

.videocardsearch__info {
    margin-left: 15px;
    min-width: 100px;
}

.videocardsearch__channelinfo {
    display: flex;
}

.videocardsearch__avatar {
    width: 25px !important;
    height: 25px !important;
}

.videocardsearch__videotitle p {
    max-height: 2.4em;
    max-width: 52vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    color: black;
}

.videocardsearch__stats {
    font-size: 12px;
    color: gray;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 2px;
}

.videocardsearch__channeltitle {
    font-size: 12px;
    color: gray;
    font-weight: 400;
    margin-left: 8px;
}

.videocardsearch__channeltitle:hover {
    color: black;
}

.videocardsearch__description {
    max-height: 1.3em;
    font-size: 12px;
    color: gray;
    font-weight: 400;
    margin-top: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 52vw;
}

@media only screen and (max-width: 550px) {
    .videocardsearch__videothumbnail img {
        min-height: 100%;
    }

    .videocardsearch__avatar {
        width: 19px !important;
        height: 19px !important; 
    }

    .videocardsearch__videotitle p {
        font-size: 16px;
    }

    .videocardsearch__stats {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .videocardsearch__channeltitle {
        font-size: 10px;
        margin-left: 6px;
    }

    .videocardsearch__description {
        font-size: 10px;
        margin-top: 8px;
    }
}